@import "~assets/less/theme.less";

.cardContainer {
  padding: 10px 0;
  border: 1px solid @secondary-dark-color;
  background-color: @crm-hover-color;
  box-shadow: inset 0 3px 1px -2px rgba(0,0,0,.2), inset 0 2px 2px 0 rgba(0,0,0,.14), inset 0 1px 2px 0 rgba(0,0,0,.12);
}

.card {
  padding: 3px 15px;
  
  &:hover, &.selected {
    font-weight: 700;
    color: @brk-text-white-color;
  }

  &:hover {
    background-color: @secondary-dark-color;
  }

  &.selected {
    cursor: move;
    background-color: @secondary-dark-color;
    
    &.lead {
      background-color: @lead-theme-color;
    }
    &.account {
      background-color: @account-theme-color;
    }
    &.opport {
      background-color: @opport-theme-color;
    }
    &.report {
      background-color: @report-theme-color;
    }
  }

  &.dragging {
    opacity: .3;
  }
}