@import "~assets/less/theme.less";
.default-department-wrapper{
  padding-left: 6px;
  cursor: pointer;
}
.default-department{
  padding: 3px 6px;
  border-radius: 2px;
  display: inline-block;
  &:hover{
    background-color: @crm-hover-color;
  }
}