@import "~assets/less/theme.less";

.button {
  margin-left: 5px;
  color:  @crm-white;
  background-color: @secondary-dark-color;

  &:hover, &:focus {
    color:  @crm-white;
    background-color: @secondary-dark-color;
    text-decoration: none;
  }
}