@import "~assets/less/theme.less";

.row {
  padding: 3px 0;
  border-bottom: 1px solid #eee;
  padding-right: 5px;
}

.customField {
  width: 100%;
}

.label {
  line-height: 24px;
  
  &.required:before {
    content: '*';
    margin-right: 5px;
    color: red;
  }
}

.helpIcon {
  font-weight: 400!important;
  margin: 0 10px;
}

.iconPlaceholder {
  display: inline-block;
  width: 14px;
  margin: 0 10px;
}

.displayField {
  line-height: 24px;

  .placeholder {
    color: #ccc;
  }

  .reloadIcon,
  .lockIcon {
    float: right;
    line-height: 24px;
  }

  .reloadIcon {
    cursor: pointer;
    color: green;
  }
}
