@import "~assets/less/theme.less";

.my-setting-wrapper{
  overflow: hidden;
}
.avatar-wrapper{
  width: @sider-width;
  float: left;
}
.changepwd-wrapper{
  margin-left: @sider-width;

}
.avatar-img-wrapper{
  width: 210px;
  height: 210px;
  border-radius: 115px;
  border: 10px solid @secondary-dark-color;
  display: table;
  overflow: hidden;
  margin-left: 12.5px;
  margin-right: 12.5px;
}
.avatar-img{
  width: 190px;
  height: 190px;
  display: block;
  display: table-cell;
}