@import "~assets/less/theme.less";

.ant-dropdown-link{
  background-color: transparent;
  border: none;
  &:active{
    border: none;
  }
}
.top-search-input{
  ::selection {
    background-color: #5194e6;
    
}
}
.header {
  color:  @crm-white;
  > div, > ul, input {
    float: left;
    font-size: 12px;
  }

  .siteTitle {
    box-sizing: border-box;
    font-size: 18px;
    text-transform: uppercase;
    height: @top-height;
    width: 180px;
    text-align: center;
  }
  .crm-logo{
    max-height: ~'calc(@{top-height} - 12px)';
    max-width: 160px;
    margin: 5px 10px;
    display: inline-block;
  }
  .setupBtn {
    display: inline-block;
    margin-left: 11px;
    float:right;
    background-color: transparent;
    color:  @crm-white;
  }

  [data-role='language'], [data-role='globalSearch'], [data-role='setup'] {
    float: right;
    margin-left: 10px;
    > button {
      padding: 0 6px;
    }
  }

}
