

.field-btn-dragging{
  background-color: #fff;
}
.modules-wrapper{
  height: 100%;
  min-height: 600px;
}
.tools-wrapper{
  min-height: 140px;
}
.tool-wrapper{
  display: inline-block;
}
.field-btn{
  width: 100%;
}
.sider-view-can-drop{
  background-color: darkseagreen;
}
.sider-view-cant-drop{
  background-color: red;
}
.sider-view-wrapper{
  height: 100%;
  overflow: auto;
}