@import "../../theme.less";

.ant-btn{
  &:hover, &:focus{
    color: @crm-white;
    background-color: darken(@secondary-dark-color, 20%);
    border-color: darken(@secondary-dark-color, 20%);
  }
}
.ant-btn-primary{
  background-color: @secondary-dark-color;
  border-color: @secondary-dark-color;
  &:hover, &:focus{
    color: @crm-white;
    background-color: darken(@secondary-dark-color, 20%);
    border-color: darken(@secondary-dark-color, 20%);
  }
}
.ant-btn > .anticon + span, .ant-btn > span + .anticon{
  margin-left: 3px;
}
.btn-ellipse{
  border-radius: 30px;
  padding: 6px 12px;
  height:auto;
  line-height: 14px;
  &.ant-btn-sm {
    padding: 2px 8px;
  }
}
.ant-btn-danger:hover, .ant-btn-danger:focus{
  color: @crm-white;
  background-color: darken(@error-color, 10%);
  border-color: darken(@error-color, 10%);
}

.theme-btn(@theme){
  @selector : ~'.@{theme}-theme-btn'; /*获取selector*/
  @theme-color-value-name: '@{theme}-theme-color'; /*获取变量名*/
  @theme-color-value: @@theme-color-value-name; /*获取变量名对应的值*/
  @{selector}{
    background-color: @theme-color-value;
    &:hover, &:focus{
      color: @crm-white;
      background-color: darken(@theme-color-value, 10%);
      border-color: darken(@theme-color-value, 10%);
    }
  }
}

.make-theme-btn-classes(@i: length(@themes)) when (@i > 0) {
  .make-theme-btn-classes(@i - 1);
  @theme: extract(@themes, @i);
  .theme-btn(@theme)
}

.make-theme-btn-classes();

.danger-btn{
  background-color: @crm-red !important;
}
