@import "../../theme.less";
.form-label{
  line-height: 24px;
}
.ant-form-item-label{
  font-weight: 700;
}
.form-tip{
  display: block;
  height:14px;
  line-height: 14px;
  color: @secondary-dark-color;
}
.ant-form-item{
  margin-bottom: 4px;
}