@import '../../theme.less';

.ant-input:focus{
   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 2px 0 rgba(0,0,0,.12);
 }
.floatingInputWrapper .ant-input-group-addon:last-child{
  background-color: transparent;
  border: none;
  padding-top: 12px;
}
.input-material-theme.bright{
  &:hover{
    border-bottom: 1px solid @crm-white !important;
  }
  input{
    color: @secondary-dark-color;
    background-color: transparent;
    border-bottom: 1px solid @secondary-dark-color;
    &:focus{
      color: @crm-white;
    }
  }
  .ant-input-suffix{
    button{
      border-bottom: 1px solid @secondary-dark-color;
      color:@secondary-dark-color;
      background-color: transparent;
      border-right: none;
      border-left: none;
      border-top:none;
      &:hover{
        border: none;
        background-color: transparent;
      }
    }
  }
  .anticon{
    color: @secondary-dark-color;
  }
  input:focus + span .anticon{
    color: @crm-white;
  }
}
.input-material-theme{
  position: relative;
  display: inline-block;
  input{
    border-top: none;
    border-left: none;
    border-right:none;
    border-radius: 0;
    &:focus, &:active{
      box-shadow: none;

    }
  }
}

.has-error .ant-form-explain.inheritedFromAntd {
  line-height: 21px;
  margin-top: 0;
}