@import "../../theme.less";
.ant-tree li{
  padding: 0px;
  line-height: 17px;
}
.ant-tree li span.ant-tree-node-content-wrapper{
  width: ~'calc(100% - 24px)';
}
.ant-tree-title{
  display: inline-block;
  position: static;
  width: 100%;
}
.ant-tree li .ant-tree-node-content-wrapper:hover .ant-select-selection, .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected .ant-select-selection{
  background-color: @crm-hover-color;
}
