
/*crm 各个主题颜色*/
@crm-green: #43A047;
@crm-blue: #1E88E5;
@crm-purple: #7E57C2;
@crm-red: #E53935;
@crm-white: #fff;
@secondary-dark-color: #4e4e4e;

@lead-theme-color: @crm-green;
@account-theme-color: @crm-blue;
@opport-theme-color: @crm-purple;
@report-theme-color: @crm-red;

/*antd style*/
@body-background: #f2f5f8;
@component-background: #f5f5f5;
@tooltip-bg: rgba(255, 255, 255, .75);
@primary-color          : #1b1e24;
@primary-2 :#e2e8da;
@error-color            : @crm-red;
@error-color-2: #f4ffb8;


@page-color-default: @secondary-dark-color;

@btn-danger-bg: @error-color;
@btn-danger-color: @crm-white;
@btn-danger-border: @error-color;
@btn-height-base: 36px;
@btn-default-color: @crm-white;
@btn-default-bg      : @page-color-default ;
@highlight-color : #ff5501;
@tooltip-color: @primary-color;
@icon-url: '~assets/font/iconfont/iconfont';
@card-head-color: rgba(0, 0, 0, 0.65);
@card-head-background: @primary-2;
@radio-button-bg: @crm-white;



// breakable 的参数变量
@brk-text-white-color: #fff;
@brk-body-bg-color: #f5f5f5;
@brk-page-max-width: 1280px;
@brk-lighter-color: #999;

@font-family: "Arial";
@font-size-sm: 12px;
// Layout
@layout-header-background: @primary-color;
@layout-header-height: 46px;
@layout-header-padding: 0 15px;
@layout-footer-padding: 0;

@themes: lead, account, opport, report; // 定义themes用于循环