@import "~assets/less/theme.less";

.poolHeader {
  background-color: @secondary-dark-color;
  padding: 5px 10px;
  color:  @crm-white;
  line-height: @height-sm;
}

.tagsContainer {
  padding: 10px 5px;
  background-color: @component-background;
  border: 1px solid @secondary-dark-color;
  box-shadow: @box-shadow-inset;
  min-height: 100px;
}